RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|bmp|pdf|doc|docx|ppt|pptx|xls|xlsx|mp3|wav|mp4|webm|ogg|woff2|ttf)$
RewriteCond %{REQUEST_URI} !^/views
RewriteRule ^(.*)$ /views/$1 [L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Options -Indexes
Options -MultiViews

# # Enable mod_expires for this directory
# <IfModule mod_expires.c>
#     ExpiresActive On
#     ExpiresDefault "access plus 1 month"
# </IfModule>

# # Set specific cache control headers for images
# <FilesMatch "\.(jpg|jpeg|png|gif|ico|css|js)$">
#     <IfModule mod_expires.c>
#         ExpiresActive On
#         ExpiresDefault "access plus 1 month"
#     </IfModule>

#     <IfModule mod_headers.c>
#         Header set Cache-Control "public, max-age=2592000"
#     </IfModule>
# </FilesMatch>
